<h1>Change Password</h1>
<% if (locals.messages) { %>
    <% if (locals.messages.error) { %>
        <p style="color: red;"><%= locals.messages.error %></p>
    <% } %>
    <% if (locals.messages.success) { %>
        <p style="color: green;"><%= locals.messages.success %></p>
    <% } %>
<% } %>

<form action="/change-password" method="post">
    <label for="currentPassword">Current Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" required><br>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required><br>
    <button type="submit">Change Password</button>
</form>