

        <div class="login-container">
            <h1>Login</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post" class="login-form">
                <div class="form-flex">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-flex">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="remember-me">
                    <label>Remember Me</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>

                <button type="submit" class="">Login</button>
            </form>

            <hr>

            <p>Need an account? <a href="/signup" style="color: blue;">Signup</a></p>
            <p>Or go <a href="/" style="color: blue;">home</a>.</p>
        </div>
    