
    <div class="stades-image">
        <img  src="/images/stades.png" alt="stades de croissance" > 
    </div>
         
    <h2 class="section-header"> DÉBUT DE LA VIE ET CROISSANCE </h2> 

     <div class="container1">
            <div class="stade">
                <img class="img" src="/images/photo2.jpg" >
                <h2 class="stade-header">PRÉPARATION DU TERRAIN </h2>
                
                    <ul class="stade-paragraph">
                        <li>• éliminer les mauvaises herbes.</li>
                        <li>• labourer le sol pour améliorer le drainage.</li>
                        <li>• appliquer des fertilisants pour enrichir le sol et encourager la croissance.</li>
                        <li>• installer un système d'irrigation efficace.</li>
                    </ul>  
                
            </div>
            <div class="stade">
                <img class="img" src="/images/photo3.jpg" >
                <h2 class="stade-header">PLANTATION DE L’OLIVIER</h2>

                    
                        <ul class="stade-paragraph">
                            <li>• soigneusement placer l'arbre dans un trou préparé avec attention.</li>
                            <li>• bien tasser la terre autour des racines pour assurer leur stabilité Après la plantation.</li>
                            <li>• surveiller attentivement l'irrigation et fournir des soins appropriés pour soutenir la croissance initiale de l'arbre.</li>
            
                        </ul>  

                 
            </div>
            <div  class="stade">
                <img class="img" src="/images/photo4.jpg" >
                <h2 class="stade-header">ARROSAGE ET ENTRETIEN</h2>
             
                    
                    <ul class="stade-paragraph">
                        <li>• Arroser régulièrement et en profondeur, surtout pendant les périodes sèches.</li>
                        <li>• Surveiller les mauvaises herbes autour des arbres.</li>
                        <li>• Appliquer des fertilisants pour maintenir la santé du sol.</li>
                        <li>• Favoriser une bonne nutrition des oliviers</li>
                    </ul>  
                
                
                
            </div>
            <div class="stade">
                <img class="img" src="/images/photo5.jpg">
                <h2 class="stade-header">DÉVELOPPEMENT DES BOURGEONS ET FLEURS</h2>
              
                    <ul class="stade-paragraph">
                        <li>• Commencer à se former sur les branches au début du printemps.</li>
                        <li>• Progresser graduellement jusqu'à l'éclosion des fleurs blanches.</li>
                        <li>• Marquer le début du processus de reproduction de l'arbre.</li>
                        <li>• Dépendre des conditions météorologiques appropriées.</li>
                    </ul>  
                
               
            </div>
     </div>
     <div>
        <h2 class="section-header"> CROISSANCE ET DÉVELOPPEMENT DES FRUITS</h2> 
     </div>
     <div class="container1">
        <div class="stade">
            <img class="img" src="/images/photo6.jpg" >
            <h2 class="stade-header">nouaison des fruits </h2>
            
                <ul class="stade-paragraph">
                    <li>• Après la pollinisation, les fleurs d'olivier commencent à former de petits fruits.</li>
                    <li>• Les fruits nécessitent des nutriments adéquats pour se développer correctement.</li>
                    <li>• Un arrosage régulier est également nécessaire pour assurer leur croissance optimale.</li>
                </ul>  
            
        </div>
        <div class="stade">
            <img class="img" src="/images/photo7.jpg" >
            <h2 class="stade-header">Croissance des fruits</h2>

                
                    <ul class="stade-paragraph">
                        <li>• Les fruits continuent de croître et de grossir au printemps et en été.</li>
                        <li>• Ils nécessitent un arrosage régulier pour maintenir une hydratation adéquate</li>
                        <li>• Une fertilisation appropriée est également essentielle pour assurer une croissance saine des fruits.</li>
        
                    </ul>  

             
        </div>
        <div  class="stade">
            <img class="img" src="/images/photo8.jpg" >
            <h2 class="stade-header">début de maturité des fruits</h2>
         
                
                <ul class="stade-paragraph">
                    <li>• Les fruits commencent à mûrir et à changer de couleur, passant du vert au violet ou au noir.</li>
                    <li>• Ce processus augmente leur teneur en huile, ce qui est crucial pour la qualité de l'huile d'olive produite.</li>
                    <li>• La valeur nutritionnelle des fruits augmente également pendant cette phase de maturation. </li>
                </ul>  
            
        </div>
        <div class="stade">
            <img class="img" src="/images/photo9.jpg" >
            <h2 class="stade-header">fin de maturité des fruits</h2>
          
                <ul class="stade-paragraph">
                    <li>• À ce stade, les olives atteignent leur pleine maturité avec une couleur noire.</li>
                    <li>• Cela indique qu'elles sont prêtes pour la récolte et la transformation en huile d'olive de haute qualité.</li>
                    <li>• Les fruits sont récoltées à ce stade pour tirer parti de leur valeur nutritionnelle et économique.</li>
                   
                </ul>  
        </div>
 </div>
 <h2 class="section-header">Agenda</h2>
 
<div class="agenda">
    <% agendaItems.forEach(item => { %>
      <div class="agenda-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p><%= item.month %></p>
            </div>
            <div class="flip-card-back">
              <img src="<%= item.image_url %>" alt="Image" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
          </div>
        </div>
        <span class="item-title">
          <%= item.change_name %>
        </span>
      </div>
    <% }); %>
  </div>




    
     



     
     
