nav {
    width: 100%;
    background-color: #DD6E42;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.174);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    margin-bottom: 100px;
}
nav .container {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.navigation-bar {
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.navigation-bar .links {
    display: flex;
    gap: 2px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 3px -2px rgb(0 64 0 / 35%);

}
.navigation-bar .links a {
    background-color: #dc5c29;
    display: block;
    padding: 10px 20px;
    transition: 0.3s;
}
.navigation-bar .links a:hover {
   background-color: #e0551e;
    transform: scale(95%);
    border-radius: 8px;
}
.navigation-bar .profile {
    height: 30px;
    position: relative;
}
.navigation-bar .profile-image {
    width: 30px;
    border-radius: 50%;
    transition: 0.2s;
}
.navigation-bar .profile-image:hover {
    box-shadow: 0 0 4px 0px rgba(0, 47, 12, 0.482);
    transform: scale(110%);
}

.menu {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
}
.menu img {
    width: 100%;
}
@media(max-width:756px){
    .navigation-bar .links {
        display: none;
    }
    .menu {
        display: block;
    }
}
.mobile-links {
    position: absolute;
    z-index: 5;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.491);
}
.mobile-links a {
    display: block;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #669b85;;
    transition: 0.3s;
    
}
.mobile-links a:hover {
    padding-left: 25px;
    color: #92cab3;
}
.menu:hover .mobile-links {
    visibility: visible;
    opacity: 1;
}

.profile > .profile-links {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    visibility: hidden;
    opacity: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.profile-links a {
    display: block;
    overflow: hidden;
    text-wrap: nowrap;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #649782b6;
    transition: .3s;
    width: fit-content;
}
.profile:hover > .profile-links {
    top: 105%;
    visibility: visible;
    opacity: 1;
}
.profile-links a:hover {
    background-color: #81c5a9;
}