#overview .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 50px;
}

@media(max-width:756px){

    #overview .container {
        justify-content: center;
        gap: 4%;
    }
}


@keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    5% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(0);
      opacity: 1;
    }
    35% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    flex-basis: 40%;
    overflow: hidden;  
    height: 300px;
    margin-top: 15vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 20s infinite; /* Total duration for all images */
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  img:nth-child(5) {
    animation-delay: 16s;
  }
  


  
  .event-text {

    flex-basis: 40%;
    background-color: bisque;
  }